.header_container {
  background-image: url("../img/crime_fingerprint3.jpg");
  background-size: cover;
  height: 20em;
  color: white;
}

nav a{
  color: white;
  text-decoration: none;
}

.state_results_box {
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
}